{% extends 'base.html' %}

{% block head %}
    Cadastro de Produtos
{% endblock %}

{% block body %}

{% if messages %}
<br>
{% for message in messages  %}
    <div class="alert {{ message.tags }}">
        {{message}}
    </div>
{% endfor %}
{% endif %}

<form style='margin-left: 20px; margin: 0;' class="row g-3" method='POST' action="{% url 'produtos_form' %}">{% csrf_token %}
    <div class='container' style='text-align: center;'>
        <h1>Cadastro De Produtos </h1>
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nome</label>
      <input type="text" name='nome' class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Categoria</label>
      <select name='categoria'>
        <option>Selecione uma categoria</option>
        {% for cat in categoria %}
            <option value='{{ cat.id }}'>{{cat.titulo}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Quantidade</label>
      <input type="number" name='quantidade' class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Preço de Compra</label>
      <input type="number" name='preco_compra' class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Preço de Venda</label>
      <input type="number" name='preco_venda' class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
</form>
{% endblock  %}